.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1327px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
  }
}

.social {
  display: flex;
  align-items: center;
  padding-top: 21px;

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &_youtube {
      background-image: url("../../assets/img/youtube.svg");
    }

    &_vk {
      background-image: url("../../assets/img/vk.svg");
    }

    &_facebook {
      background-image: url("../../assets/img/facebook.svg");
    }

    &_twitter {
      background-image: url("../../assets/img/twitter.svg");
    }

    &_twitch {
      background-image: url("../../assets/img/twitch.svg");
    }

    &_instagram {
      background-image: url("../../assets/img/instagram.svg");
    }
  }
}

